{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "plugin:@shopify/esnext",
        "plugin:@shopify/typescript"
    ],
    "rules": {
        "function-paren-newline": "off",
        "no-mixed-operators": "off"
    }
}