{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unused-imports"],
  "extends": ["plugin:@shopify/esnext", "plugin:@shopify/typescript"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "function-paren-newline": "off",
    "no-mixed-operators": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
